body {
  /* One image in top right corner */
  background-image: url(../resources/images/image.png);
  background-position: 96% 3%;
  /* Two images in each top corners */
  background-image: url(../resources/images/image.png), url(../resources/images/image.png);
  background-position: 3% 3%, 96% 3%;
  
  background-repeat: no-repeat, no-repeat;
  background-size: 8%, 10%;
}

strong {
  color: #ed1450;
  font-weight: bold;
}

.side-by-side {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* justify-content: space-around; */
}

.explications {
  font-size: 0.7em;
}

.sliding-tiles table td {
  border: 1px solid;
  padding: 0.2em 0.5em 0.2em 0.5em;
  text-align: center;
}

.sliding-tiles table tbody tr:last-child th,
.sliding-tiles table tbody tr:last-child td {
  border-bottom: 1px solid;
}

.sliding-tiles p {
  color: #ed1450;
  font-size: 0.7em;
}

span.code-font {
  font-family: "Courier new";
  font-size: 0.8em;
}

.reveal pre {
  display: inline-block;
  width: auto;
}

.reveal pre code {
  padding: 5px 20px;
}

.reveal blockquote {
  color: rgb(60, 60, 60);
  border-left: 3px solid rgb(120, 120, 120);
  box-shadow: none;
  text-align: justify;
  padding-left: 30px;
}

.reveal .logo25 {
  max-width: 25%;
}

.reveal .logo50 {
  max-width: 50%;
}

.reveal .logo75 {
  max-width: 75%;
}

#table_entrypoint-cmd table {
  font-size: 0.5em;
}

.imgPosition {
  position: absolute;
  top: 50%;
  left: 50%;
}

.borderingShadow {
  -webkit-box-shadow: 5px 7px 10px 2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 5px 7px 10px 2px rgba(0, 0, 0, 0.4);
  box-shadow: 5px 7px 10px 2px rgba(0, 0, 0, 0.4);
}